<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.png">
  <link href="/favicon.png" rel="apple-touch-icon" />
  <title>Koti Home</title>
  <link href="http://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
</head>
<body>
  {{{ body }}}

  <script src="/jquery.min.js"></script>
  <script src="/annyang.min.js"></script>
  <script src="/moment.min.js"></script>
  <script src="/scripts.js"></script>
</body>
</html>
