<section class="control-panel">
  <h1>Koti Home Control Panel</h1>
  <ul class="control-panel-icons">
    <li>
      <div class="icon">
        <button class="btn btn-light-switch">
          <svg width="92px" height="96px" viewBox="0 0 92 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="bulb" transform="translate(22.000000, 23.000000)" fill="#000000">
              <path d="M0,23.279 C0,34.275 10.74,45.59 11.043,46.232 C11.362,46.9 12.035,47.327 12.777,47.327 L35.318,47.327 C36.094,47.327 36.795,46.86 37.092,46.141 C37.351,45.519 46.561,32.929 46.561,23.279 C46.562,10.443 36.115,0 23.279,0 C10.441,0 0,10.442 0,23.279 Z" id="Shape"></path>
              <path d="M34.84,50 L13.92,50 C12.858,50 12,50.862 12,51.92 C12,52.979 12.858,53.839 13.92,53.839 L34.841,53.839 C35.903,53.839 36.762,52.979 36.762,51.92 C36.761,50.862 35.902,50 34.84,50 L34.84,50 Z" id="Shape"></path>
              <path d="M33.004,57 L15.919,57 C14.859,57 14,57.857 14,58.919 C14,59.979 14.859,60.839 15.919,60.839 L33.004,60.839 C34.066,60.839 34.921,59.979 34.921,58.919 C34.921,57.858 34.066,57 33.004,57 L33.004,57 Z" id="Shape"></path>
              <path d="M28.683,65 L19.923,65 C18.861,65 18,65.86 18,66.922 C18,70.395 20.829,73.22 24.302,73.22 C27.775,73.22 30.603,70.395 30.603,66.922 C30.603,65.86 29.743,65 28.683,65 L28.683,65 Z" id="Shape"></path>
            </g>
            <g class="light" fill="#000000">
              <path d="M13.053,45 L1.919,45 C0.862,45 -8.8817842e-16,45.86 -8.8817842e-16,46.92 C-8.8817842e-16,47.978 0.862,48.838 1.919,48.838 L13.053,48.838 C14.115,48.838 14.972,47.978 14.972,46.92 C14.972,45.86 14.115,45 13.053,45 L13.053,45 Z" id="Shape"></path>
              <path d="M23.14925,21.4365 L15.27725,13.5625 C14.52425,12.8125 13.31125,12.8125 12.56325,13.5625 C11.81225,14.3125 11.81225,15.5275 12.56325,16.2785 L20.43325,24.1505 C21.18125,24.9005 22.39925,24.9005 23.14925,24.1505 C23.89825,23.4005 23.89825,22.1855 23.14925,21.4365 L23.14925,21.4365 Z" id="Shape"></path>
              <path d="M45.924,14.973 C46.981,14.971 47.841,14.112 47.841,13.052 L47.841,1.918 C47.841,0.859 46.981,0 45.924,0 C44.862,0 44,0.859 44,1.918 L44,13.053 C44,14.113 44.862,14.971 45.924,14.973 L45.924,14.973 Z" id="Shape"></path>
              <path d="M78.14775,13.5626251 C77.39975,12.8126251 76.18275,12.8126251 75.43175,13.5616251 L67.56175,21.4356251 C66.81275,22.1826251 66.81275,23.3996251 67.56175,24.1486251 C68.31175,24.8986251 69.52475,24.8986251 70.27575,24.1486251 L78.14775,16.2766251 C78.89875,15.5266251 78.89875,14.3116251 78.14775,13.5626251 L78.14775,13.5626251 Z" id="Shape"></path>
              <path d="M90.053,44 L78.919,44 C77.859,44 77,44.86 77,45.918 C77,46.976 77.859,47.838 78.919,47.838 L90.053,47.838 C91.113,47.838 91.974,46.976 91.972,45.918 C91.972,44.859 91.113,44 90.053,44 L90.053,44 Z" id="Shape"></path>
            </g>
          </svg>
        </button>
        <div class="data"></div>
      </div>
    </li>
    <li>
      <div class="icon">
        <svg width="29px" height="73px" viewBox="0 0 38 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <g class="therm" sketch:type="MSLayerGroup" fill="#000000">
            <path d="M-3.55271368e-15,76.9801714 C-3.55271368e-15,70.5282121 3.2813378,64.8772976 8.21534571,61.4831774 L8.21534571,61.4831774 L8.21534571,10.7198019 C8.2195403,4.79012199 13.0468191,-0.0112767497 19.0022107,-0.0140597659 L19.0022107,-0.0140597659 C24.9576023,-0.0112767497 29.784881,4.79012199 29.7860462,10.7198019 L29.7860462,10.7198019 L29.7860462,61.4801625 C34.7272781,64.8747465 38.0144418,70.5254291 38.0144418,76.9801714 L38.0144418,76.9801714 C38.0100141,87.4266866 29.4989495,95.8914624 19.0022107,95.8958688 L19.0022107,95.8958688 C8.50267541,95.8914624 0.00302942912,87.4266866 -3.55271368e-15,76.9801714 L-3.55271368e-15,76.9801714 L-3.55271368e-15,76.9801714 Z M12.5889092,10.7198019 L12.5889092,63.8951248 L11.5251135,64.5291887 C7.2410347,67.0925786 4.37239835,71.6787574 4.37239835,76.9801714 L4.37239835,76.9801714 C4.38521517,85.0247117 10.9192277,91.5316355 19.0022107,91.547406 L19.0022107,91.547406 C27.0840285,91.5318675 33.6280614,85.0247117 33.6406452,76.9801714 L33.6406452,76.9801714 C33.6406452,71.6748148 30.7689794,67.0897955 26.4793078,64.5291887 L26.4793078,64.5291887 L27.6013617,62.6620167 L29.7860462,62.6620167 L27.6013617,62.6620167 L26.4793078,64.5291887 L25.4166773,63.8951248 L25.4166773,10.7198019 C25.4124827,7.19534377 22.5438463,4.34437556 19.0022107,4.3371861 L19.0022107,4.3371861 C15.460575,4.34414364 12.5917056,7.19511185 12.5889092,10.7198019 L12.5889092,10.7198019 L12.5889092,10.7198019 Z" id="outer-therm" sketch:type="MSShapeGroup"></path>
            <path d="M22.2621094,68.1387607 L22.2621094,32.6462591 L16.0722866,32.6462591 L16.0722866,68.1387607 C12.3672948,69.4170929 9.70023204,72.9118655 9.70023204,77.0367594 C9.70023204,82.2403039 13.9400346,86.4584289 19.167198,86.4584289 C24.3969248,86.4584289 28.634164,82.2403039 28.634164,77.0367594 C28.634164,72.9118655 25.9701307,69.4168609 22.2621094,68.1387607 L22.2621094,68.1387607 Z" class="innter-therm" sketch:type="MSShapeGroup"></path>
          </g>
        </svg>
      </div>
      <div class="data">
        <span class="temp-status"></span>
      </div>
    </li>
    <li>
      <div class="icon">
        <button class="btn btn-mic-switch" title="Turn voice commands on and off">
          <svg width="38px" height="73px" viewBox="0 0 38 73" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="Mic" sketch:type="MSLayerGroup" fill="#000000">
                <path d="M19,48.29753 C25.2349231,48.29753 30.2896538,43.24812 30.2896538,37.01976 L30.2896538,11.46027 C30.2896538,5.23191 25.2349231,0.1825 19,0.1825 C12.7650769,0.1825 7.71034615,5.23191 7.71034615,11.46027 L7.71034615,37.01976 C7.71034615,43.24812 12.7650769,48.29753 19,48.29753 L19,48.29753 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                <path d="M35.8478846,27.65313 C34.5683077,27.65313 33.5313462,28.68827 33.5313462,29.96577 L33.5313462,37.01976 C33.5313462,45.02348 27.0128846,51.53581 19,51.53581 C10.9863846,51.53581 4.46792308,45.02348 4.46792308,37.01976 L4.46792308,29.96577 C4.46792308,28.68827 3.43169231,27.65313 2.15284615,27.65313 C0.874,27.65313 -0.162961538,28.68827 -0.162961538,29.96577 L-0.162961538,37.01976 C-0.162961538,47.57483 8.43380769,56.16255 19,56.16255 C29.5661923,56.16255 38.1629615,47.57483 38.1629615,37.01976 L38.1629615,29.96577 C38.1629615,28.68827 37.1267308,27.65313 35.8478846,27.65313 L35.8478846,27.65313 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                <path d="M28.5511538,68.19076 L21.3150769,68.19076 L21.3150769,57.8598 C20.5543462,57.95178 19.7848462,58.0131 19,58.0131 C18.2144231,58.0131 17.4449231,57.95178 16.6841923,57.8598 L16.6841923,68.19076 L9.44884615,68.19076 C8.17,68.19076 7.13376923,69.22663 7.13376923,70.50413 L7.13376923,72.8175 L30.8669615,72.8175 L30.8669615,70.50413 C30.8662308,69.22663 29.83,68.19076 28.5511538,68.19076 L28.5511538,68.19076 Z" id="Shape" sketch:type="MSShapeGroup"></path>
              </g>
            </g>
          </svg>
        </button>
        <div class="data"></div>
      </div>
    </li>
  </ul>

  <div class="movement-status"></span>

</section>
