<form method="post" class="login-form">
    <input type="password" name="password" placeholder="password" class="login-form-password">
    <input type="submit" value="Log In" class="btn login-form-btn">
</form>
